# export DB='mysql+pymysql://user:password@127.0.0.1/arilt?charset=utf8mb4'
export DB='sqlite:///arilt.db'
export EMAIL_USER='someone@ari.lt'
export EMAIL_SERVER='mail.ari.lt'
export EMAIL_PASSWORD='...'
export ADMIN_KEY='...'
