{% extends "base.j2" %}

{% block title %}Index{% endblock %}

{% block description %}Ari-web: A personal website of a Lithuanian open source developer Ari Archer (Arija A.) who provides different free, private, and open source services for others.{% endblock %}

{% block keywords %}ari::web, services, foss services, homepage, portfolio, resume, matrix, says, https, email{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename="fonts/Hack.css") }}" type="text/css" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}" type="text/css" referrerpolicy="no-referrer" />

<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    /**
     * @licstart The following is the entire license notice for the JavaScript
     * code in this page.
     *
     * Copyright (C) 2024 Ari Archer
     *
     * The JavaScript code in this page is free software: you can redistribute
     * it and/or modify it under the terms of the GNU Affero General Public License
     * (AGPL) as published by the Free Software Foundation, either version 3
     * of the License, or (at your option) any later version.  The code is
     * distributed WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the AGPL
     * for more details.
     *
     * As additional permission under AGPL version 3 section 7, you may
     * distribute non-source (e.g., minimized or compacted) forms of that code
     * without the copy of the AGPL normally required by section 4, provided
     * you include this license notice and a URL through which recipients can
     * access the Corresponding Source.
     *
     * @licend The above is the entire license notice for the JavaScript code
     * in this page.
     */

    //--><!]]>
</script>
<script src="{{ url_for("static", filename="js/particles.js") }}" referrerpolicy="no-referrer" defer></script>
<script src="{{ url_for("static", filename="js/rc4.js") }}" referrerpolicy="no-referrer" defer></script>
{% endblock %}

{% block header %}
<h1>Ari.lt: Free and open source world of Ari Archer.</h1>

<nav class="mob">
    <div align="center">
    <details>
        <summary>Navigation</summary>

        <ul>
            <li>Pages and redirects: <a href="#pages">#pages</a></li>
            <li>Links: <a href="#links">#links</a></li>
            <li>Staff list: <a href="#staff">#staff</a></li>
            <li>Self-hosted services list: <a href="#services">#services</a></li>
            <li>Guestbook: <a href="#gb">#gb</a></li>
        </ul>
    </details>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="split">
    <div>
        <p>Welcome to my website, visitor <b>{{ visitor }}</b>!</p>

        <blockquote>
            Before I start explaining who I am, if you're here on this page because of one of the users
            using ari-web services and you want to report abuse, please contact me using one of the
            contacts listed on this page (such as the <a href="mailto:ari@ari.lt">ari@ari.lt</a> email)
            or see <a href="#staff">the list of staff</a>. You may also leave a comment on <a href="#gb">the guestbook</a>.
        </blockquote>

        <p>
            My name is <b>Ari Archer</b> also known as <b>Arija A.</b>, but most commonly referred to as
            <b>Ari</b>. I am a <b>{{ ari_age }} year old</b>, neurodivergent, transgender, open source developer from Lithuania who does
            fun stuff in primarily <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a> (~<b>{{ python_exp }}</b> years)
            and <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/C_(programming_language)">C (89, 99)</a> (~<b>{{ c_exp }}</b> years).
        </p>

        <p>
            I've picked up programming at first in Python, writing various programs on my phone, and later on discovering a community
            where I could share my code. At the time I didn't have access to a computer, so I used to play around with
            basic <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a> on my local library computers.
            At around 2019 I got access to a personal computer, which is where my main <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Free_and_open-source_software">FOSS</a> journey started -
            exploring more technologies and understanding them more in-depth, not being limited by a locked down phone.
        </p>

        <p>
            I hated the limiting feeling of being on <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Microsoft_Windows">Microsoft Windows</a> 10
            very limiting, so soon after getting a personal computer I installed a free and open source <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Linux">Linux</a>
            kernel distribution - and I've never went back to Windows ever since then. <i>Democracy, freedom, shareability</i>
            and <i>customization</i> ("hackability") are huge values for me.
        </p>

        <p>
            Technology is a big part of my life, and I am way past the stage where I find <i>just</i> technology fascinating -
            I find various problems and their optimal solutions very interesting and I like to come up with my own - even if
            it's "<a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Reinventing_the_wheel">reinventing the wheel</a>" or "impractical" -
            I like to dig deep into it and understand how it works at its core, rather than relying on high-level features of an
            abstraction stack. I was always a person like this, not specifically in technology - I was always the nerdy science kid -
            but everywhere.
        </p>

        <p>
            Even though I'd consider technology, problem solving, and computer programming a big part of my life, I
            also enjoy a couple of more things. Such as:
        </p>

        <ul>
            <li>Exploring various social issues (wars, injustice, freedom of people, abuse, discrimination, environmental problems, ...)</li>
            <li>Cooking - I really enjoy putting together a healthy, vegan dish, which's recipe I can share with others.</li>
            <li>And also <a href="https://blog.ari.lt/">blogging</a>, as archiving things and <i>thoughts</i> has been a huge part of my life since forever.</li>
        </ul>

        <p>
            But generally, I am pretty much open to try <i>everything at least once</i> if I have the time and energy to do so.
        </p>

        <p>
            People often describe my personality as kind, accepting, open-minded, and nonjudgmental due to the way I interact
            with the world and people - I am always accepting of people no matter what they've gone through or are
            going through. They also see my logical side and describe me as <i>intelligent, analytical</i>, and <i>creative</i>
            because of how I tend to approach various logical problems. Though, this side of me can sometimes be
            overpowered by my emotional side if I lose control of my emotions.
        </p>
    </div>

    <div>
        <div align="center">
            <img src="{{ url_for("static", filename="svg/ari.svg") }}" alt="A illustration (sketch) of Ari Archer with medium length red-black split dyed hair" width="196" />
        </div>

        <ul>
            <li>Name: Arija A. (Ari Archer)</li>
            <li>Pronouns: She/Her</li>
            <li>Age: {{ ari_age }} years old.</li>
            <li>Education: Primary school, middle school, high school (ongoing).</li>
            <li>Country: Lithuania (Lietuva).</li>
            <li>Languages: Lithuanian (native, {{ ari_age }}y), English (B2, {{ ari_age - 8 }}y), German (basic, {{ ari_age - 12 }}y).</li>
            <li>Programming Experience: {{ programming_exp }} years ({{python_exp }}y in Python, {{ c_exp }}y in C).</li>
            <li>Skills: Backend web development in Python using Flask, basic front-end development (HTML, JS, CSS, SCSS) and SEO (search engine optimization), software and library development in C and Python, Linux and intermediate Linux systems administration, technical documentation and specifications, application of different mathematical methods.</li>
            <li>Learning: Better communication skills, self-improvement, cryptography (post-quantum cryptography), working on mental health and emotional grounding.</li>
            <li>Personality: Recognised as kind, open-minded, intelligent, analytical, non-Judgmental, chill, anxious, generous, introverted, independent, caring, helpful, and supportive by people in my life.</li>
            <li>
                Contacts

                <ul>
                    <li>GitHub: <a target="_blank" rel="noopener noreferrer" href="https://github.com/TruncatedDinoSour">TruncatedDinoSour</a></li>
                    <li>GitHub organization: <a target="_blank" rel="noopener noreferrer" href="https://github.com/ari-lt">ari-lt</a> (<a href="mailto:org@ari.lt">org@ari.lt</a>)</li>
                    <li>Matrix: <a target="_blank" rel="noopener noreferrer" href="https://matrix.to/#/@ari:ari.lt">@ari:ari.lt</a></li>
                    <li>XMPP/Jabber: <a target="_blank" rel="noopener noreferrer" href="xmpp:ari@ari.lt">ari@ari.lt</a></li>
                    <li>Fediverse: <a target="_blank" rel="noopener noreferrer" href="https://ak.ari.lt/ari">@ari@ak.ari.lt</a></li>
                    <li>E-Mail: <a href="mailto:ari@ari.lt">ari@ari.lt</a> (GPG: <a target="_blank" rel="noopener noreferrer" href="https://keys.openpgp.org/vks/v1/by-fingerprint/4FAD63E936B305906A6C4894A50D5B4B599AF8A2">4FAD63E936B305906A6C4894A50D5B4B599AF8A2</a>)</li>
                </ul>
            </li>
        </ul>
        <blockquote>
            "Talk is cheap. Show me the code."
        </blockquote>
        <pre>       - Linus Torvalds, creator of Linux</pre>
    </div>
</div>

<p>
    This is a brief description of me as a person, I probably cannot fit all of it in a single page. I do hope that
    this is a good introduction to what I do, what skills I posses.
</p>

<div align="center">
    <div><b>*** Current status ***</b></div>
    <br />
    <div>{{ status["status"] }}</div>
    <br />
    <div>Last updated: <b>{{ status["last_updated"] }}</b></div>
</div>

<h2 id="pages"><a href="#pages">#</a> Pages and redirects</h2>

<div class="split esplit">
    <div>
    <ul>
        <li><a href="/">The home page of Ari.lt</a></li>
        <li><a href="{{ url_for("views.canary") }}">Warrant canary of Ari.lt</a></li>
        <li><a href="{{ url_for("views.casey") }}">Open letter to my best friend, Casey</a></li>
        <li><a href="{{ url_for("views.page", p="matrix") }}">Matrix homeserver guidelines and registration</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="{{ url_for("views.mp") }}">Music playlist (YouTube)</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="{{ url_for("views.dotfiles") }}">My dotfiles (redirect)</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="{{ url_for("views.gh") }}">My main Git account (redirect)</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="{{ url_for("views.lh") }}">Main Ari.lt organization (redirect)</a></li>
    </ul>
    </div>

    <div>
    <p>
        Ari.lt includes multiple pages and redirects which include various information. This is a manually collected list
        of some important pages. If you want a <i>full</i> list of all pages see the <a href="/sitemap.xml">sitemap.xml</a>
        which has all possible pages on this site in an XML format - mainly used by indexers.
    </p>

    <p>
        Ari.lt is still in the middle of migration to full-featured self-hosting, so some stuff might break
        or change with time, although I try to keep backwards compatibility possible.
    </p>
    </div>
</div>

<h2 id="links"><a href="#links">#</a> Links</h2>

<p>
    Many of my links, social media, etc. can be found at:
</p>

<div class="mob">
    <h3>Contacts</h3>
    <ul>
        <li>GitHub: <a target="_blank" rel="noopener noreferrer" href="https://github.com/TruncatedDinoSour">TruncatedDinoSour</a></li>
        <li>GitHub organization: <a target="_blank" rel="noopener noreferrer" href="https://github.com/ari-lt">ari-lt</a> (<a href="mailto:org@ari.lt">org@ari.lt</a>)</li>
        <li>Matrix: <a target="_blank" rel="noopener noreferrer" href="https://matrix.to/#/@ari:ari.lt">@ari:ari.lt</a></li>
        <li>XMPP/Jabber: <a target="_blank" rel="noopener noreferrer" href="xmpp:ari@ari.lt">ari@ari.lt</a></li>
        <li>Fediverse: <a target="_blank" rel="noopener noreferrer" href="https://ak.ari.lt/ari">@ari@ak.ari.lt</a></li>
        <li>E-Mail: <a href="mailto:ari@ari.lt">ari@ari.lt</a> (GPG: <a target="_blank" rel="noopener noreferrer" href="https://keys.openpgp.org/vks/v1/by-fingerprint/4FAD63E936B305906A6C4894A50D5B4B599AF8A2">4FAD63E936B305906A6C4894A50D5B4B599AF8A2</a>)</li>
    </ul>
</div>

<h3>Badges</h3>

<p>
    Click on any of the badges to visit the website associated with it :)
</p>

<ul>
    <li>
        Normal: <a href="https://ari.lt/" title="ari-web badge" aria-label="Visit ari-web" rel="noopener noreferrer"> <img src="{{ url_for("views.badge") }}" loading="lazy" alt="ari-web badge" height="31" width="88" role="presentation" /> </a>
        <ul>
            <li>
                <b>Embed:</b> <textarea style="width:50%" disabled>&lt;a href="https://ari.lt/" title="ari-web badge" aria-label="Visit ari-web" rel="noopener noreferrer"&gt; &lt;img src="https://ari.lt{{ url_for("views.badge") }}" loading="lazy" alt="ari-web badge" height="31" width="88" role="presentation" /&gt; &lt;/a&gt;</textarea>
            </li>
        </ul>
    </li>

    <li>
        Yellow: <a href="https://ari.lt/" title="ari-web badge" aria-label="Visit ari-web" rel="noopener noreferrer"> <img src="{{ url_for("views.badge_yellow") }}" loading="lazy" alt="ari-web badge" height="31" width="88" role="presentation" /> </a>
        <ul>
            <li>
                <b>Embed:</b> <textarea style="width:50%" disabled>&lt;a href="https://ari.lt/" title="ari-web badge" aria-label="Visit ari-web" rel="noopener noreferrer"&gt; &lt;img src="https://ari.lt{{ url_for("views.badge_yellow") }}" loading="lazy" alt="ari-web badge" height="31" width="88" role="presentation" /&gt; &lt;/a&gt;</textarea>
            </li>
        </ul>
    </li>

    <li>
        Text: <a href="{{ url_for("views.badge_txt") }}">badge.txt</a>.
    </li>
</ul>

<p>Also, friends:</p>

<ul>
    <li>FSKY: <a href="https://fsky.io/" title="FSKY badge" aria-label="Visit FSKY" rel="noopener noreferrer"> <img src="https://fsky.io/badge.png" loading="lazy" alt="FSKY badge" height="31" width="88" role="presentation" /> </a></li>
    <li>LDA: <a href="https://freetards.xyz/" title="LDA's badge" aria-label="Visit LDA's website" rel="noopener noreferrer"> <img src="https://freetards.xyz/88x31.png" loading="lazy" alt="Freetards badge" height="31" width="88" role="presentation" /> </a></li>
    <li>Hydrogen: <a href="https://h2.gay/" title="Hydrogen's badge" aria-label="Visit Hydrogen's website" rel="noopener noreferrer"> <img src="https://h2.gay/images/88x31.gif" loading="lazy" alt="H2.gay's badge" height="31" width="88" role="presentation" /> </a></li>
    <li>DOSKEL: <a href="https://doskel.net/" title="DOSKEL's badge" aria-label="Visit DOSKEL's website" rel="noopener noreferrer"> <img src="https://doskel.net/img/logo.png" loading="lazy" alt="Doskel.net's badge" height="31" width="88" role="presentation" /> </a></li>
</ul>

<p>
    Ty for being friends with me and dealing with me!!1!
</p>

<h3>Activity</h3>

<ul>
    <li>Source code of the website: <a target="_blank" rel="noopener noreferrer" href="{{ url_for("views.git") }}">{{ url_for("views.git") }}</a></li>
    <li>Blog: <a target="_blank" rel="noopener noreferrer" href="https://blog.ari.lt/">blog.ari.lt</a></li>
    <li>Matrix room: <a target="_blank" rel="noopener noreferrer" href="https://matrix.to/#/#root:ari.lt">#root:ari.lt</a></li>
    <li>XMPP/Jabber room: <a target="_blank" rel="noopener noreferrer" href="xmpp:root@muc.ari.lt">root@muc.ari.lt</a></li>
</ul>

<h3>Projects</h3>

<ul>
    <li>Ari.lt - an open source website by ari archer: <a target="_blank" rel="noopener noreferrer" href="https://github.com/ari-lt">ari-lt GitHub organization</a></li>
    <li>Baz - a fast, easy, simple and lightweight plugin manager for GNU bash: <a target="_blank" rel="noopener noreferrer" href="https://github.com/TruncatedDinoSour/baz">TruncatedDinoSour/baz</a></li>
    <li>Kos - A simple SUID tool written in C++: <a target="_blank" rel="noopener noreferrer" href="https://github.com/TruncatedDinoSour/kos">TruncatedDinoSour/kos</a></li>
    <li>Armour - password securing, management and generation library with a custom database format: <a target="_blank" rel="noopener noreferrer" href="https://github.com/TruncatedDinoSour/armour">TruncatedDinoSour/armour</a></li>
    <li>Fa - stack based, reverse polish notation low-level programming language that transpiles down to assembly: <a target="_blank" rel="noopener noreferrer" href="https://github.com/TruncatedDinoSour/fa">TruncatedDinoSour/fa</a></li>
</ul>

<p>
    Note that these are not the only projects I've ever worked on. These are a few
    highlights that I find neat personally for differnt reasons. There don't showcase all
    of my abilities, although these are practical examples of things I work on
    sometimes.
</p>

<h3>Support</h3>

<ul>
    <li>Monero wallet address: <a target="_blank" rel="noopener noreferrer" href="{{ url_for("views.xmr") }}">{{ url_for("views.xmr") | escape }}</a></li>
    <li>Bitcoin wallet address: <a target="_blank" rel="noopener noreferrer" href="{{ url_for("views.btc") }}">{{ url_for("views.btc") | escape }}</a></li>
</ul>

<h2 id="staff"><a href="#staff">#</a> Staff</h2>

<p>
    This table lists active staff that works on different parts of ari.lt, that doesn't include me.
    Feel free to visit their websites and show appriciation :).
</p>

<div class="split esplit">
    <div align="center">
    <table>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Website</th>
        </tr>
        <tr>
            <td>LDA</td>
            <td>Moderates Matrix.</td>
            <td><a href="https://freetards.xyz/" target="_blank" rel="noopener noreferrer">freetards.xyz</a></td>
        </tr>
        <tr>
            <td>Jjj (Joseph)</td>
            <td>Moderates Matrix and XMPP/Jabber, helps with Email things.</td>
            <td><a href="https://pain.agency/" target="_blank" rel="noopener noreferrer">pain.agency</a></td>
        </tr>
        <tr>
            <td>Zayd</td>
            <td>Administrates Akkoma.</td>
            <td><a href="https://wanderer.envs.net/" target="_blank" rel="noopener noreferrer">wanderer.envs.net</a></td>
        </tr>
        <tr>
            <td>Sulian/Morguldir</td>
            <td>Moderates Matrix.</td>
            <td><a href="https://sulian.eu/" target="_blank" rel="noopener noreferrer">sulian.eu</a></td>
        </tr>
    </table>
    </div>

    <div>
    <p>
        Ari.lt is mainly a personal site, although it is not limited to being <i>just</i> a personal website.
        I, together with a couple of <a href="#staff">staff members</a>, host some <a href="#services">services</a> on
        a shared <a href="https://s.ari.lt/">server</a>. Some of these services are a bit locked down or have aggressive policies to prevent spam
        as our team is small.
    </p>
    </div>
</div>

<h2 id="services"><a href="#services">#</a> Services</h2>

<p>
    This table lists all self-hosted software (semi-)open for the public that people are welcome to use.
</p>

<div align="center">
    <table>
        <tr>
            <th>Service</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Matrix homeserver</td>
            <td>Semi-open registration, follow the process described <a href="{{ url_for('views.page', p='matrix') }}" target="_blank" rel="noopener noreferrer">here</a>.</td>
            <td><a href="https://matrix.ari.lt/" target="_blank" rel="noopener noreferrer">matrix.ari.lt</a></td>
        </tr>
        <tr>
            <td>XMPP/Jabber server</td>
            <td>Semi-open registration, follow the process described <a href="{{ url_for('views.page', p='xmpp') }}" target="_blank" rel="noopener noreferrer">here</a>.</td>
            <td><a href="{{ url_for("views.lh", _="xmpp") }}" target="_blank" rel="noopener noreferrer">lh/xmpp</a></td>
        </tr>
        <tr>
            <td>Forgejo git forge instance</td>
            <td>Open registration.</td>
            <td><a href="https://git.ari.lt/" target="_blank" rel="noopener noreferrer">git.ari.lt</a></td>
        </tr>
        <tr>
            <td>SearXNG instance</td>
            <td>SearXNG meta-search-engine instance.</td>
            <td><a href="https://searx.ari.lt/" target="_blank" rel="noopener noreferrer">searx.ari.lt</a></td>
        </tr>
        <tr>
            <td>CryptPad instance</td>
            <td>Open registration, CryptPad: private office suite software.</td>
            <td><a href="https://pad.ari.lt/" target="_blank" rel="noopener noreferrer">pad.ari.lt</a></td>
        </tr>
        <tr>
            <td>Email server hosting <a href="https://mailcow.email/" target="_blank" rel="noopener noreferrer">Mailcow</a></td>
            <td>Contact <a href="mailto:ari@ari.lt">ari@ari.lt</a> for custom domains (aggressive policy)</td>
            <td><a href="https://mail.ari.lt/" target="_blank" rel="noopener noreferrer">mail.ari.lt</a> (<a href="https://mail.ari.lt/signup" target="_blank" rel="noopener noreferrer">register here</a>)</td>
        </tr>
        <tr>
            <td>Roundcube webmail</td>
            <td>Only for ari.lt users</td>
            <td><a href="https://rc.ari.lt/" target="_blank" rel="noopener noreferrer">rc.ari.lt</a></td>
        </tr>
        <tr>
            <td>Akkoma fediverse instance</td>
            <td>Open registration.</td>
            <td><a href="https://ak.ari.lt/" target="_blank" rel="noopener noreferrer">ak.ari.lt</a></td>
        </tr>
        <tr>
            <td>Vikunja instance</td>
            <td>Free and open source todo app. Open registration.</td>
            <td><a href="https://vi.ari.lt/" target="_blank" rel="noopener noreferrer">vi.ari.lt</a></td>
        </tr>
        <tr>
            <td>SchildiChat &amp; Cinny Matrix web clients</td>
            <td>Web clients for Matrix.</td>
            <td><a href="https://schildi.ari.lt/" target="_blank" rel="noopener noreferrer">schildi.ari.lt</a> &amp; <a href="https://cinny.ari.lt/" target="_blank" rel="noopener noreferrer">cinny.ari.lt</a></td>
        </tr>
        <tr>
            <td>PrivateBin instance</td>
            <td>Private public encrypted pastebin.</td>
            <td><a href="https://pb.ari.lt/" target="_blank" rel="noopener noreferrer">pb.ari.lt</a></td>
        </tr>
        <tr>
            <td>Private PocketBase instance</td>
            <td>Private database storage for <a href="https://github.com/TheCubiq/" target="_blank" rel="noopener noreferrer">Github: TheCubiq</a></td>
            <td><a href="https://db.cubiq.dev/" target="_blank" rel="noopener noreferrer">db.cubiq.dev</a></td>
        </tr>
        <tr>
            <td>t1nklas.lt's email</td>
            <td>Custom domain on ari-web email</td>
            <td><a href="https://t1nklas.lt/" target="_blank" rel="noopener noreferrer">t1nklas.lt</a></td>
        </tr>
        <tr>
            <td>Forgejo instance for <a href="https://kappach.at/" target="_blank" rel="noopener noreferrer">kappach.at</a></td>
            <td>Git forge instance of KappaChat - An extensible Matrix client written in C.</td>
            <td><a href="https://git.kappach.at/" target="_blank" rel="noopener noreferrer">git.kappach.at</a></td>
        </tr>
    </table>
</div>

<h2 id="gb"><a href="#gb">#</a> Guestbook</h2>

<p>
    If you want to interact with the community feel free to leave your comments here!
    You will require an email address so to prevent spam and scams, although, to protect
    <i>you</i> from spam and scam emails, I have implemented measures to not store your
    email address as plain text. Press 'show email' to show the email address on any given
    comment.
</p>

<p>
  <b>TL;DR;</b> your email is stored and can be seen publicly. <b>Please check your mailbox to confirm your email after commenting.</b>
</p>

<form method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input required type="text" id="name" name="name" placeholder="Cool Person" />
  </div>

  <div class="form-group">
    <label for="website">Website (optional):</label>
    <input type="url" id="website" name="website" placeholder="https://example.com/" />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input required type="email" id="email" name="email" placeholder="me@example.com" />
  </div>

  <div class="form-group">
    <label for="comment">Comment (<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" rel="noopener noreferrer">markdown</a>):</label>
    <textarea required type="text" id="comment" name="comment" placeholder="Hello! I like your website - &lt;https://ari.lt/&gt;."></textarea>
  </div>

  <div class="captcha">
    <img loading="lazy" width="240" height="90" src="{{ url_for("views.captcha") }}?new" onclick="this.src=this.src+Math.floor(1000*Math.random())" alt="An image CAPTCHA" />
    <i>Click the image above to reload and get a new CAPTCHA.</i>
  </div>

  <div class="form-group">
    <label for="captcha">CAPTCHA:</label>
    <input required type="text" id="code" name="code" placeholder="Enter the CAPTCHA code above." />
  </div>

  <div class="form-group">
    <label for="agree">Email Policy Agreement:</label>
    <input required type="checkbox" id="agree" name="agree" />
  </div>

  <button type="submit">Comment</button>
</form>

<div align="center">
    <i>Report any impersonation, illegal/graphic content, and/or anything disturbing to the owner of this website: Ari Archer.</i>
</div>

<div id="comments">
  {% for comment in comments %}
  <div id="gb-{{ comment.id }}">
    <p><a href="#gb-{{ comment.id }}">#{{ comment.id }}:</a> <span>{{ comment.name | escape }}</span> {% if comment.website %}(<a href="{{ comment.website }}" rel="noopener noreferrer" target="_blank">{{ comment.website | escape }}</a>){% endif %} &lt;<i><a href="mailto:" style="color:#aaa" onclick="this.innerText=rc4('{{ b64encode(comment.email_ct).decode() }}','{{ b64encode(comment.key).decode() }}');this.href+=this.innerText;this.onclick=null;this.style='';return!!0">show email</a></i>&gt; at <time>{{ comment.posted }} UTC</time> says...</p>
    <div>{{ comment.comment | markdown }}</div>
  </div>{% endfor %}
</div>
{% endblock %}
