span {
    color: #7ed44c;
    font-weight: bold;
}

body {
    padding: 2em;
    margin: auto;
    max-width: 1100px;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

h1 {
    text-align: center;
}

i {
    color: lightgray;
}
